{% load static %}
<header>
    <nav class="navbar" style="background-color:whitesmoke">
        <div class="container">
            <a class="navbar-brand" href="{% url 'records:index' %}">
                <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                <span style="color:#2c3e50">Gryffine</span>
            </a>
            <ul class="nav nav-pills">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-light" href="{% url 'users:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-light active"
                           href="{% url 'users:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>